@charset "utf-8";
/* CSS Document */
@font-face{
	font-family:Sprite Graffity Shadow;
	src:url(fonts/Sprite_Graffiti_Shadow.otf);
}
@font-face{
	font-family:Sprite Graffity;
	src:url(fonts/Sprite_Graffiti.otf);
}
@font-face{
	font-family:CNUTypewriter;
	src:url(fonts/gtw.otf);
}
@font-face{
	font-family:Vetka;
	src:url(fonts/Vetka.otf);
}

html,body{
	height:100%;
	overflow:hidden;
}
body{
	overflow:auto;
	font-family:Sprite Graffity Shadow;
	color:#FFFF00;
	font-size:20px;
	letter-spacing:3px;	
	background:url(img/serious.jpg) no-repeat;
	background-size:cover;
	background-position:center center;
	background-attachment:fixed;
}
p{margin:0;
padding:0:
}
header{
	user-select:none;
	width:100%;
	height:100px;	
}
header div, nav{
	height:80px;
	line-height:80px;
}
#logo{
	float:left;	
	text-align:center;
	width:20%;
	margin:5px 5px 5px 50px;
}
#logo img{
	vertical-align:middle;
}
#banner{
	float:left;
	font-family:Sprite Graffity;
	font-size:55px;
	color:#E1090E;
	letter-spacing:4px;
	width:40%;
	margin:5px 5px 5px 5px;
}
nav{
	float:right;
	margin:5px 5px 5px 5px;
	width:32%;
	
}
nav a{
	float:left;
	height:30px;
	line-height:30px;
	width:30%;
	font-family:Vetka;
	letter-spacing:2px;
	font-size:25px;
	color:#E1090E;
    text-decoration: none;
	margin:45px 0 0 0;
}
nav a:hover{
	font-family:Sprite Graffity Shadow;
	font-size:27px;
	letter-spacing:2px;
	font-weight:400;
}

#container{
	width:100%;
	min-height:calc(100% - 90px);
	position:relative;
	margin-bottom:20px;
}
#content{
	position:relative;
	display:inline-block;
	padding-top:10px;
	padding-bottom:25px;
	width:80%;
	height:100%;
	margin:0px 10%;
	background:rgba(134, 134, 134, 0.6);
	text-align:center;

}
#content h2{
	font-size:24px;
	font-weight:700;
}
footer {
	user-select:none;
	text-align:center;
	display:block;
    height: 75px;
	bottom:0;
	width:100%;
	font-family:CNUTypewriter;
}
footer p{
	float:left;
	color:#E1090E;
	letter-spacing:3px;
}
.social{
	text-align:center;
	height:30px;
	display:inline-block;
}
.social img{
	float:left;
	width:32px;
	margin:0px 20px;
}


/*Страницы*/
#images{
	height:400px;
	width:90%;
	margin:auto;
	position:relative;
}
.image_bottom{
	position:relative;
	background:none;
	height:280px;
	width:181px;
	float:left;
	box-shadow: 10px 10px 35px rgba(0, 0, 0, .9);
	margin:4.5% 0 0 200px;

}
.image_bottom img{
	height:100%;
}
@keyframes image_bottom
{
0%   {height:280px;}
25%  {height:285px;}
50%  {height:290px;}
75%  {height:295px;}
100% {height:300px;z-index:10000;}
}
.image_bottom:hover{
	animation:image_bottom 0.5s 2 alternate;
}
	
.image_top{
	height:320px;
	width:215px;
	background:none;
	position:absolute;
	box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, .9);
	margin:auto;
	top:50%;
	margin-top:-175px;
	left:50%;
	margin-left:-108px;
}
.image_top img{
	height:100%;
}
@keyframes image_top
{
0%   {height:320px;}
25%  {height:325px;}
50%  {height:330px;}
75%  {height:335px;}
100% {height:340px;z-index:10000;}
}
.image_top:hover{
	animation:image_top 0.5s 2 alternate;
}


.desc{
	float:left;
	border-radius:12px;
	position:relative;
	font-family:Vetka;
	font-weight:600;
	border:0px solid;
	width:250px;
	height:380px;
	margin-left:15px;
	background:#868686;
	box-shadow:10px 10px 25px #333333;
}
.desc h3, p{
	margin:0px;
	padding:3px;
}
.cat_img{
	width:120px;
	padding:5px;
	margin:auto;
	height:52%;
}
.cat_img img{
	max-width:120px;
	width:expression(this.width>120px?"120px":this.width);
}
.link{
	width:85%;
	border-radius:7px;
	height:10%;
	position:absolute;
	bottom:5px;
	left:50%;
	background-color:#666;
	margin-left:calc(-85%/2);
	box-shadow:4px 4px 10px #333333;
	text-align:center;
}
.link:active{
	box-shadow: inset 4px 4px 10px #333333;
}
.link a {
	height:20px;
    border: none;
	margin-top:3%;
	line-height:100%;
    display: block;
    text-align: center;
    text-decoration: none;
	color:#EFF42B;
}

#cover{
	width:300px;
	
	padding:15px;
	margin:15px;
	float:left;
	border:0px solid;
}
#cover img{width:100%;}
.tabs{
	user-select:none;
	float:left;
	padding:3px;
	margin:10px;
	box-shadow:1px 1px 5px 5px #333333;
	border-radius:5px;
}

.inset{	
	display:none;
	width:60%;
	padding-top:20px;
	margin:40px 25px;
	left:340px;
	position:absolute;
	font-family:Vetka;
	font-size:18px;
	background:#898989;
	border-radius:25px;
	padding:5px;
	text-align:left;
	box-shadow:4px 4px 10px 3px #333333;
}
#nal{
	padding-left:20px;
	display:block;
	width:50%;
	float:left;
	text-align:left;
}

.tabs:focus .inset{
	display:block;
}
.tabs:focus{
	outline:none;
	box-shadow:inset 1px 1px 5px 5px #333333;
}

.inset p{
	margin:3px 10px;
}
.inset p:first-letter{
	font-size:22px;
	font-family:Sprite Graffity;
}
.inset li{
    list-style-image: url(icons/arrow_right.png);
}
.inset td:first-child{
    font-weight: bold;
    font-size: 19px;
}
#maps{
	float:right;
	width:60%;
	height:300px;
}
#maps iframe{
	width:100%;
	height:100%
}
#contacts {
	padding-left:10px;
    position: absolute;
	float:left;
    left: 0;
    top: 20px;
    width: 38%;
}
.contactIcon {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}
.contactWrap {
	font-family:CNUTypewriter;
	letter-spacing:2px;
    float: left;
    width: 100%;
    margin-top: 10px;
    line-height: 40px;
}

*{	
	border:0px solid #000;
	margin:0;
	padding:0;
}