<link rel="stylesheet" href="{{ admin.css.admin }}">
<div id="content_black">
    <div id="auth">
        <link rel="stylesheet" href="{{ admin.css.auth }}">
        <form method="post" class="login" action="{{ admin.action }}">
        <p>
            <label for="login">Логин:</label>
            <input type="text" name="login" id="login" value="name@example.com" required>
        </p>

        <p>
            <label for="password">Пароль:</label>
            <input type="password" name="password" id="password" value="4815162342"required>
        </p>

        <p class="login-submit">
            <button type="submit" class="login-button">Войти</button>
        </p>
        </form>
    </div>

</div>