<div id="content_black">
    <div id="contacts">
        <h2>Как нас найти?</h2>
        <div class="contactWrap">
            <img src="{{ style.envelope }}" class="contactIcon">
            kot903491@gmail.com
        </div>
        <div class="contactWrap">
            <img src="{{ style.phone }}" class="contactIcon">
            +7 747 846 61 47
        </div>
        <div class="contactWrap">
            <img src="{{ style.placeholder }}" class="contactIcon">
            Казахстан, г. Актобе
        </div>
    </div>
    <div id="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d163198.83129495545!2d57.05370460048094!3d50.273599572630836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1504348449210"></iframe>
    </div>
</div>
