<div id="content">
    <div id="catalog">
        <!--
    {% for value in cont %}
    <div class="desc">
        <h3>{{ value.name }}</h3>
        <div class="cat_img"><img src="{{ value.s_img }}"></div>
        <p>{{ value.s_desk }}</p>
        <div class="link"><a href="?page=product&id={{ value.id }}">Подробнее...</a></div>
    </div>
    {% endfor %} -->
    </div>
</div>