<footer>
    <div>
        <div class="social">
            <a href="#">
                <img src="{{ style.fb }}" alt="facebook">
            </a>
            <a href="#">
                <img src="{{ style.vk }}" alt="vk">
            </a>
            <a href="#">
                <img src="{{ style.gp }}" alt="google">
            </a>
        </div>
    </div>
    <div class="social">
        <p>&copy; Все права защищены</p>
    </div>
</footer>