<html>
<head>
    <link rel="stylesheet" href="{{ style.css }}">
    {% if style.css_admin %}
    <link rel="stylesheet" href="{{ style.css_admin }}">
    {% endif %}
    {{ ajax.jquery|raw }}
    {{ ajax.basket_func|raw }}
    <title>{{ title }}</title>
</head>
<body>
{% include header %}

{{ content|raw }}

{% include footer %}

</body>
</html>